/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page {
    width: 900px;
    margin: auto;
}

.entete {
    height: 100px;
}

.colonne_menu {
    float: left;
    width: 200px;
    height: 100%;
}

.colonne_contenu {
    margin-left: 200px;
}

.pieddepage {
    height: 50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body {
    background-color: wheat;
    font-size: 18px;
    font-family: Arial;
    padding: 0%;
    margin: 0%;


}

.page {}

.entete {
    background-color: blueviolet;
    padding: 10px;
}

.colonnes {
    background-color: deepskyblue;
}

.colonne_menu {
    background-color: gold;
}

.colonne_contenu {
    background-color: rgb(5, 5, 71);
    padding: 10px;
}

.pieddepage {
    background-color: lime;
    color: skyblue;
    text-align: center;
    line-height: 1;
}

.title {
    font-size: xx-large;
    color: orangered
}

.slogan {
    font-size: large;
    color: orangered;
    font-style: italic;
}
h1{
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(240, 5, 5)
}
h2{
    color: aliceblue;
    font-size: large;
    margin: 20px;
    font-variant: small-caps;
}
strong{
    color: rgb(255, 0, 0);
    font-weight: normal;
}
em{
    color: gold;
}
.introduction{
    font-style: italic;
    border: solid;
    padding: 10px;
    border-radius: 10px;
}
a{
    font-weight: bold;
}
a:hover{
    color: white;
    text-decoration: none;
}